@model Models.Layout.ILayoutModelProvider<Models.Layout.LayoutModel>

@{
    var title = Model.Layout.Title;

    var currentLanguage = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;

    var bodyCssClasses =
        Model.Layout.BodyCssClasses is IEnumerable<string> bodyCssClassesEnumerable ?
        string.Join(" ", bodyCssClassesEnumerable) :
        Model.Layout.BodyCssClasses?.ToString();
}

<!DOCTYPE html>
<html lang="@currentLanguage" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <meta name="author" content="@Model.Layout.Author" />
    <meta name="description" content="@Model.Layout.Descriptions" />
    <meta name="keywords" content="@Model.Layout.Keywords" />

    @RenderSection("Metas", required: false)

    <title>@Model.Layout.ApplicationName@(title != null ? " - " : null)@title</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.ico")" />

    @* stylesheets *@
    <link href="~/bundles/css/global/vendor.css" rel="stylesheet" />

    @RenderSection("Stylesheets", required: false)

    @* scripts *@
    <script>(function (el) { el.className = el.className.replace(/(^|\s)no-js(?=\s|$)/, '$1js') })(document.documentElement)</script>

    @RenderSection("ScriptsHead", required: false)
</head>
<body class="@bodyCssClasses">
    @RenderBody()

    @* scripts *@
    <script src="~/bundles/js/global/vendor.js"></script>
    <script src="~/bundles/js/global/site.js"></script>

    @RenderSection("ScriptsBody", required: false)
</body>
</html>
