@model WebApp.UI.Models.Account.ResetPasswordModel

@inject ISettingsProvider SettingsProvider

<div class="page-header">
    <h1>@T["Forgotten Password"]</h1>
</div>

@if (Model.Success == null)
{
<div>
    <form method="post" class="form-horizontal" role="form">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-4" asp-validation-summary="ModelOnly"></div>
        </div>

        <div class="row form-group">
            <label asp-for="UserName" class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
                <input asp-for="UserName" type="text" class="form-control" autofocus />
                <span asp-validation-for="UserName"></span>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">@T["Reset password"]</button>
            </div>
        </div>
    </form>
</div>
}
else if (Model.Success.Value)
{
<p class="lead">
    @T["A message has been sent to the e-mail address you entered if it's an existing account in the application. Please follow the instructions given in the message in order to specify your new password."]
</p>

<p>
    @T["If you don't receive this message in a few minutes, check your spam folder or contact us."]
</p>
}
else
{
<p>
    @T["Please try again or <a href=\"mailto:{0}\">contact the system administrator</a> if the problem persists.",
        SettingsProvider.AdminMailAddress()]
</p>
}

@section ScriptsBody {
    @await Html.PartialAsync("Partials/_ValidationScripts")
}
