@model WebApp.UI.Models.Account.ResetPasswordModel

@inject ISettingsProvider SettingsProvider

@section Header {
    <h3 class="mb-0">@Model.Layout.Title</h3>
}

@if (Model.Success == null)
{
    <form class="needs-validation" method="post" novalidate>
        <p class="text-muted">@T["Enter the e-mail address associated with your account to request a password reset"]</p>

        <div asp-validation-summary="ModelOnly"></div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </span>
            </div>
            <input class="form-control rounded-right" asp-for="UserName" type="text" placeholder="@Html.DisplayNameFor(m => m.UserName)" autofocus />
            <div class="invalid-feedback">
                <span asp-validation-for="UserName"></span>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-6">
                <button class="btn btn-primary px-4" type="submit">@T["Reset password"]</button>
            </div>
        </div>
    </form>
}
else if (Model.Success.Value)
{
    <p class="lead">
        <strong>@T["A message has been sent to the e-mail address you entered if it's associated with an existing account in the application."]</strong>
    </p>

    <p>
        @T["Please follow the instructions given in the message in order to specify your new password."]
    </p>

    <p class="mb-0">
        <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
        @T["If you don't receive this message in a few minutes, check your spam folder or <a href=\"mailto:{0}\">contact the system administrator</a>.",
            SettingsProvider.AdminMailAddress()]
    </p>
}
else
{
    <p class="lead">
        <strong>@T["The operation failed."]</strong>
    </p>

    <p class="mb-0">
        @T["Please try again or <a href=\"mailto:{0}\">contact the system administrator</a> if the problem persists.",
            SettingsProvider.AdminMailAddress()]
    </p>
}

@section Footer {
    <div class="text-center">
        <a asp-route="@LoginRouteName">@T["Back to Login"]</a>
    </div>
}
