@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@using WebApp.UI.Models.DataTables

@inherits GlobalRazorHelpersPage
@implements IDataTableHelpers

@functions {
    // template delegates, tag helpers need the following pragmas to compile (https://github.com/dotnet/aspnetcore/issues/20055)
    //#pragma warning disable MVC1006
    //#pragma warning disable 1998

    public void Table<TItem>(DataTableDefinition<TItem> tableDefinition)
    {
        if (tableDefinition.TableTemplate != null)
        {
            @tableDefinition.TableTemplate(tableDefinition)
            return;
        }

        var items = tableDefinition.Result.Items;

        <!form method="get" action="@tableDefinition.GenerateQueryUrl(Url, null)">
            <table class="table table-bordered table-striped table-hover data-table">
                <thead>
                    @if (tableDefinition.ShowTableHeaderRow)
                    {
                        TableHeaderRow(tableDefinition);
                    }

                    @if (tableDefinition.ShowColumnHeaderRow)
                    {
                        ColumnHeaderRow(tableDefinition);
                    }

                    @if (tableDefinition.AllowFiltering)
                    {
                        ColumnFilterRow(tableDefinition);
                    }
                </thead>

                <tbody>
                    @if (items?.Length > 0)
                    {
                        for (int i = 0, n = items.Length; i < n; i++)
                        {
                            DataRow(items[i], tableDefinition);
                        }
                    }
                    else
                    {
                        NoDataRow(tableDefinition);
                    }
                </tbody>

                <tfoot>
                    @if (tableDefinition.ShowTableFooterRow)
                    {
                        TableFooterRow(tableDefinition);
                    }
                </tfoot>
            </table>
        </!form>
    }

    #region Header

    public void TableHeaderRow<TItem>(DataTableDefinition<TItem> tableDefinition)
    {
        if (tableDefinition.TableHeaderRowTemplate != null)
        {
            @tableDefinition.TableHeaderRowTemplate(tableDefinition)
            return;
        }

        <tr class="table-header-row">
            <th class="font-weight-normal" colspan="@tableDefinition.Columns.Count">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        @if (tableDefinition.AllowPaging && tableDefinition.Result.PageSize > 0)
                        {
                            var pageSizeSelector = HelperToHtmlContent((_, state) => PageSizeSelector(state), tableDefinition);

                            @T["Show {0} items", pageSizeSelector]
                        }
                    </div>
                    <div>
                        <button class="btn btn-info btn-sm" type="submit"><i class="fa fa-refresh" aria-hidden="true"></i> @T["Refresh"]</button>
                    </div>
                </div>
            </th>
        </tr>
    }

    public void PageSizeSelector<TItem>(DataTableDefinition<TItem> tableDefinition)
    {
        var currentPageSize = tableDefinition.Result.PageSize;
        var maxPageSize = tableDefinition.Query.MaxPageSize;
        maxPageSize = maxPageSize > 0 ? maxPageSize : 500;

        <select class="page-size-selector" name="@tableDefinition.PageSizeFormFieldName">
            @using (var enumerator = GeneratePageSizes())
            {
                enumerator.MoveNext();
                var pageSize = enumerator.Current;
                do
                {
                    <!option value="@pageSize" selected="@(pageSize == currentPageSize)">@pageSize</!option>

                    enumerator.MoveNext();
                    pageSize = enumerator.Current;
                }
                while (pageSize <= maxPageSize);
            }
        </select>

        static IEnumerator<int> GeneratePageSizes()
        {
            @for (var pageSize = 10; ; pageSize = checked(pageSize * 10))
            {
                yield return pageSize;
                yield return checked(pageSize * 2);
                yield return checked(pageSize * 5);
            }
        }
    }

    public void ColumnHeaderRow<TItem>(DataTableDefinition<TItem> tableDefinition)
    {
        if (tableDefinition.ColumnHeaderRowTemplate != null)
        {
            @tableDefinition.ColumnHeaderRowTemplate(tableDefinition)
            return;
        }

        var columns = tableDefinition.Columns;

        <tr class="column-header-row">
            @for (int i = 0, n = columns.Count; i < n; i++)
            {
                ColumnHeader(columns[i]);
            }
        </tr>
    }

    public void ColumnHeader<TItem>(DataTableColumnDefinition<TItem> columnDefinition)
    {
        if (columnDefinition.HeaderTemplate != null)
        {
            @columnDefinition.HeaderTemplate(columnDefinition)
            return;
        }

        var title = columnDefinition.Title ?? columnDefinition.Property.GetDisplayName(Html.MetadataProvider);
        string currentOrderKeyPropertyPath;

        <th>
            @if (columnDefinition.Table.AllowSorting && columnDefinition.IsSortable && (currentOrderKeyPropertyPath = columnDefinition.OrderKeyPropertyPath ?? columnDefinition.Property.Path) != null)
            {
                var (isActiveOrderColumn, currentOrderDescending, newOrderKeyPropertyPath, newOrderDescending) =
                    GetOrderByState(currentOrderKeyPropertyPath, columnDefinition.Table.QueryOrderByElements);

                var formFieldName = columnDefinition.Table.OrderByFormFieldName;
                var routeValues = CreateOrderByRouteValues(ViewContext.HttpContext, formFieldName, newOrderKeyPropertyPath, newOrderDescending);

                <div>
                    <a class="title" href="@columnDefinition.Table.GenerateQueryUrl(Url, routeValues)">@title</a>
                    @if (isActiveOrderColumn)
                    {
                        <input type="hidden" name="@formFieldName" value="@QueryableHelper.ComposeOrderByElement(currentOrderKeyPropertyPath, currentOrderDescending)" />
                        var orderIconCssClass = currentOrderDescending ? columnDefinition.DescendingOrderIconCssClass : columnDefinition.AscendingOrderIconCssClass;
                        if (orderIconCssClass != null)
                        {
                            <i class="sort-order fa @(orderIconCssClass) ml-1" aria-hidden="true"></i>
                        }
                    }
                </div>
            }
            else
            {
                <div>
                    <span class="title">@title</span>
                </div>
            }
        </th>

        static (bool, bool, string?, bool) GetOrderByState(string currentOrderKeyPropertyPath, (string, bool)[] orderByElements)
        {
            if (orderByElements.Length > 0)
            {
                var (keyPropertyPath, descending) = orderByElements[0];

                if (currentOrderKeyPropertyPath.Equals(keyPropertyPath, StringComparison.OrdinalIgnoreCase))
                {
                    if (descending)
                        return (true, descending, null, default);

                    return (true, descending, currentOrderKeyPropertyPath, true);
                }
            }

            return (false, default, currentOrderKeyPropertyPath, false);
        }

        static RouteValueDictionary CreateOrderByRouteValues(HttpContext httpContext, string? formFieldName, string? orderKeyPropertyPath, bool orderDescending)
        {
            var routeValues = new RouteValueDictionary();
            routeValues.Merge(httpContext.Request.Query);

            if (formFieldName != null)
            {
                @if (orderKeyPropertyPath != null)
                {
                    routeValues[formFieldName] = QueryableHelper.ComposeOrderByElement(orderKeyPropertyPath, orderDescending);
                }
                else
                {
                    routeValues.Remove(formFieldName);
                }
            }

            return routeValues;
        }
    }

    public void ColumnFilterRow<TItem>(DataTableDefinition<TItem> tableDefinition)
    {
        if (tableDefinition.ColumnFilterRowTemplate != null)
        {
            @tableDefinition.ColumnFilterRowTemplate(tableDefinition)
            return;
        }

        var columns = tableDefinition.Columns;

        <tr class="column-filter-row">
            @for (int i = 0, n = columns.Count; i < n; i++)
            {
                ColumnFilter(columns[i]);
            }
        </tr>
    }

    public void ColumnFilter<TItem>(DataTableColumnDefinition<TItem> columnDefinition)
    {
        if (columnDefinition.FilterTemplate != null)
        {
            @columnDefinition.FilterTemplate(columnDefinition)
            return;
        }

        <th>
            @switch (columnDefinition.Filter)
            {
                case DataTableColumnFilter.Text textColumnFilter:
                    TextColumnFilter(textColumnFilter, columnDefinition);
                    break;
                case null:
                    break;
                default:
                    throw new NotSupportedException($"No default render function is defined for filter type {columnDefinition.Filter.GetType()}.");
            }
        </th>
    }

    public void TextColumnFilter<TItem>(DataTableColumnFilter.Text columnFilter, DataTableColumnDefinition<TItem> columnDefinition)
    {
        <div>
            <input class="form-control form-control-sm" type="text" name="@columnFilter.FormFieldName" value="@columnFilter.FormFieldValue" placeholder="@(columnFilter.PlaceholderText ?? T["Filter text"])" />
        </div>
    }

    #endregion

    #region Data

    public void DataRow<TItem>(TItem item, DataTableDefinition<TItem> tableDefinition)
    {
        if (tableDefinition.DataRowTemplate != null)
        {
            @tableDefinition.DataRowTemplate((item, tableDefinition))
            return;
        }

        var columns = tableDefinition.Columns;

        <tr class="data-row">
            @for (int i = 0, n = columns.Count; i < n; i++)
            {
                DataCell(item, columns[i]);
            }
        </tr>
    }

    public void DataCell<TItem>(TItem item, DataTableColumnDefinition<TItem> columnDefinition)
    {
        if (columnDefinition.DataCellTemplate != null)
        {
            @columnDefinition.DataCellTemplate((item, columnDefinition))
            return;
        }

        <td>@columnDefinition.Property.GetValue(item)</td>
    }

    public void NoDataRow<TItem>(DataTableDefinition<TItem> tableDefinition)
    {
        if (tableDefinition.NoDataRowTemplate != null)
        {
            @tableDefinition.NoDataRowTemplate(tableDefinition)
            return;
        }

        <tr class="no-data-row">
            <td class="text-center" colspan="@tableDefinition.Columns.Count">
                @T["No data to display."]
            </td>
        </tr>
    }

    #endregion

    #region Footer

    private static readonly PagerRenderOptions s_defaultPagerRenderOptions = new PagerRenderOptions
    {
        Display = true,
        MaximumPageNumbersToDisplay = 5
    };

    public void TableFooterRow<TItem>(DataTableDefinition<TItem> tableDefinition)
    {
        if (tableDefinition.TableFooterRowTemplate != null)
        {
            @tableDefinition.TableFooterRowTemplate(tableDefinition)
            return;
        }

        var result = tableDefinition.Result;

        @if (result.TotalItemCount > 0)
        {
            var pagerInfo = new PagerInfo(result.PageIndex, result.PageSize, result.TotalItemCount);

            <tr class="table-footer-row">
                <td colspan="@tableDefinition.Columns.Count">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            @T["Showing {0} to {1} of {2} item", pagerInfo.ItemStartIndex + 1, pagerInfo.ItemEndIndex, Plural.From("Showing {0} to {1} of {2} items", pagerInfo.TotalItemCount)]
                        </div>
                        <div>
                            @if (tableDefinition.AllowPaging && result.PageSize > 0)
                            {
                                @Html.Pager(in pagerInfo,
                                    page => tableDefinition.GenerateQueryUrl(Url, CreatePagingRouteValues(ViewContext.HttpContext, tableDefinition.PageIndexFormFieldName, page - 1)),
                                    tableDefinition.PagerRenderOptions ?? s_defaultPagerRenderOptions)
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }

        static RouteValueDictionary CreatePagingRouteValues(HttpContext httpContext, string? formFieldName, int pageIndex)
        {
            var routeValues = new RouteValueDictionary();
            routeValues.Merge(httpContext.Request.Query);

            if (formFieldName != null)
            {
                routeValues[formFieldName] = pageIndex;
            }

            return routeValues;
        }
    }

    #endregion
}
