@using WebApp.UI.Models.Layout

@model ILayoutModelProvider<LayoutModel>

@inject WebApp.UI.Infrastructure.Theming.IThemeManager ThemeManager

@{
    var title = Model.Layout.Title;

    var currentLanguage = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var currentTheme = await ThemeManager.GetCurrentThemeAsync(ViewContext.HttpContext);

    var bodyCssClasses =
        Model.Layout.BodyCssClasses is IEnumerable<string> bodyCssClassesEnumerable ?
        string.Join(" ", bodyCssClassesEnumerable) :
        Model.Layout.BodyCssClasses?.ToString();
    bodyCssClasses = "c-app" + (!string.IsNullOrEmpty(bodyCssClasses) ? " " + bodyCssClasses : null);
}

<!DOCTYPE html>
<html lang="@currentLanguage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <meta name="author" content="@Model.Layout.Author" />
    <meta name="description" content="@Model.Layout.Descriptions" />
    <meta name="keywords" content="@Model.Layout.Keywords" />

    @RenderSection("Metas", required: false)

    <title>@Model.Layout.ApplicationName@(title != null ? " - " : null)@title</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.ico")" />

    @* stylesheets *@
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-fallback-test-class="fa" asp-fallback-test-property="display" asp-fallback-test-value="inline-block"
              integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    </environment>

    <link rel="stylesheet" href="~/bundles/css/themes/@currentTheme/site.css" />

    @RenderSection("Stylesheets", required: false)

    @* scripts *@
    @RenderSection("ScriptsHead", required: false)
</head>
<body class="@bodyCssClasses">
    @RenderBody()

    @* scripts *@
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="//cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
        </script>
        <script src="//cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator"
                integrity="sha256-+BEKmIvQ6IsL8sHcvidtDrNOdZO3C9LtFPtF2H0dOHI=" crossorigin="anonymous">
        </script>
        <script src="//cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.11/dist/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
                integrity="sha256-9GycpJnliUjJDVDqP0UEu/bsm9U+3dnQUH8+3W10vkY=" crossorigin="anonymous">
        </script>
        <script src="//cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.bootstrap"
                integrity="sha256-9nt4LsWmLI/O24lTW89IzAKuBqEZ47l/4rh1+tH/NY8=" crossorigin="anonymous"></script>
    </environment>

    <script src="~/bundles/js/site.js"></script>

    @RenderSection("ScriptsBody", required: false)
</body>
</html>
