@model WebApp.UI.Models.Home.ErrorViewModel

@inject ISettingsProvider SettingsProvider

@{
    Model.Layout.Title = T["Error"];
}

@section Header {
    <h3 class="mb-0">@Model.Layout.Title</h3>
}

<p class="lead">
    <strong class="text-danger">@T["An error occurred while processing your request."]</strong>
</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@T["Request ID:"]</strong> <code>@Model.RequestId</code>
    </p>
}

<p class="mb-0">
    @T["Please try again or <a href=\"mailto:{0}\">contact the system administrator</a> if the problem persists.",
         SettingsProvider.AdminMailAddress()]
</p>

@section Footer {
    <div class="text-center">
        <a asp-route="@WebApp.UI.Areas.Dashboard.DashboardRoutes.OverviewRouteName">@T["Back to Dashboard"]</a>
    </div>
}
