@page
@model SetPasswordModel

@inject ISettingsProvider SettingsProvider

@section Header {
    <h3 class="mb-0">@Model.Layout.Title</h3>
}

@if (Model.Success == null)
{
    <form class="needs-validation" method="post" novalidate>
        <p class="text-muted">@T["Enter the new password for your account"]</p>

        <div asp-validation-summary="ModelOnly"></div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
            <input class="form-control rounded-right" asp-for="Model.NewPassword" type="password" placeholder="@Html.DisplayNameFor(m => m.Model.NewPassword)" />
            <div class="invalid-feedback">
                <span asp-validation-for="Model.NewPassword"></span>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
            <input class="form-control rounded-right" asp-for="Model.ConfirmPassword" type="password" placeholder="@Html.DisplayNameFor(m => m.Model.ConfirmPassword)" />
            <div class="invalid-feedback">
                <span asp-validation-for="Model.ConfirmPassword"></span>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-6">
                <button class="btn btn-primary px-4" type="submit">@T["Set password"]</button>
            </div>
        </div>
    </form>
}
else if (Model.Success.Value)
{
    <p class="lead mb-0">
        <strong>@T["Your new password has been set."]</strong>
    </p>
}
else
{
    <p class="lead">
        <strong>@T["The operation failed."]</strong>
    </p>

    <p class="mb-0">
        @T["Please try again or <a href=\"mailto:{0}\">contact the system administrator</a> if the problem persists.",
            SettingsProvider.AdminMailAddress()]
    </p>
}

@section Footer {
    <div class="text-center">
        <a asp-page="@LoginModel.PageDescriptor.PageName" asp-area="@LoginModel.PageDescriptor.AreaName">@T["Go to Login"]</a>
    </div>
}
