@model WebApp.UI.Areas.Dashboard.Models.Account.IndexModel

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                @T["Change Password"]
            </div>
            <div class="card-body">
                @if (Model.ChangePassword.Success == true)
                {
                <p class="text-info">
                    <i class="fa fa-check" aria-hidden="true"></i> @T["Your password has been successfully changed."]
                </p>
                }
                else if (Model.ChangePassword.Success == false)
                {
                <p class="text-danger">
                    <i class="fa fa-times" aria-hidden="true"></i> @T["Your password could not be changed."]
                </p>
                }

                <form method="post" class="form-horizontal" role="form">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input class="form-control rounded-right" asp-for="ChangePassword.CurrentPassword" type="password" placeholder="@Html.DisplayNameFor(m => m.ChangePassword.CurrentPassword)" />
                        <div class="invalid-feedback">
                            <span asp-validation-for="ChangePassword.CurrentPassword"></span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input class="form-control rounded-right" asp-for="ChangePassword.NewPassword" type="password" placeholder="@Html.DisplayNameFor(m => m.ChangePassword.NewPassword)" />
                        <div class="invalid-feedback">
                            <span asp-validation-for="ChangePassword.NewPassword"></span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input class="form-control rounded-right" asp-for="ChangePassword.ConfirmPassword" type="password" placeholder="@Html.DisplayNameFor(m => m.ChangePassword.ConfirmPassword)" />
                        <div class="invalid-feedback">
                            <span asp-validation-for="ChangePassword.ConfirmPassword"></span>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-6">
                            <button class="btn btn-primary px-4" type="submit" name="@Html.NameFor(m => m.SubmitAction)" value="@nameof(AccountController.ChangePassword)">@T["Change password"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
