@using Karambolo.Common
@using WebApp.Service
@using WebApp.Service.Mailing.Users

@inherits WebApp.Service.Template<PasswordResetMailModel>

@inject Microsoft.Extensions.Options.IOptions<ApplicationOptions> ApplicationOptions

@{
    var url = UriUtils.BuildUrl(new[] { GetUIBaseUrl(ApplicationOptions), "Account/SetPassword" }, new { u = Model.UserName, v = Model.VerificationToken });
}

<!doctype html>
<html lang="@GetLanguageCode(System.Globalization.CultureInfo.CurrentUICulture)">
<head>
    <meta charset="utf-8" />
    <title>@T["Password Reset"]</title>
</head>
<body>
    <h4>@T["[THIS IS AN AUTOMATED MESSAGE - PLEASE DO NOT REPLY DIRECTLY TO THIS EMAIL]"]</h4>
    <p>
        @T["Dear {0},", Model.Name ?? Model.UserName]
    </p>
    <p>
        @T["Resetting the password of your account has been requested."]
    </p>
    <p>
        @T["In order to specify a new password, please visit the link below before {0} (GMT):", FormatDateTime(Model.VerificationTokenExpirationDate)]<br />
        <a href="@url">@url</a>
    </p>
    <p>
        @T["Best regards,"]<br />
        <!-- TODO -->
        Support
    </p>
</body>
</html>
